    
    body {        
        font-family: 'Noto Serif TC', serif;
        line-height: 1.15;   
      }
    
    /* 右上角購物車的小icon */
    .btn-cart{
        background-color: transparent;
        position: relative;
    }
    .btn-cart .badge{
        position: absolute;
        top:-1px;
        right: -1px;
    }
    .dropdown-cart{
        right:0;
        left: auto;
    }
    .jumbotron{
        margin-bottom:0 !important;   /*強制把margin改掉，不然jumbotron下面會有奇怪空間 */
    }
    .jumbotron-bg{
        background-image: url(img/大圖4.jpg);
        background-size:cover ;
        background-position: center center;
        min-height: 400px;
    }
    .bg-lighter{
        background-color: rgba(255,255,255,.35);
        min-width: 80px;
    }
    .card{
        max-width: 250px;  /* 沒加上這一行的話，後背包商品只有兩個，card-group會把兩張card做成滿版 */
    }
    .alert-rounded{
        border-radius: 50px;
    }


    @media(min-width:768px){   /*響應式:當螢幕寬度在768px以上時字體變黑色*/
        .text-md-dark{
            color:#333
        }
    }
    
    .bg-cover{
        background-size: cover;
      background-position: center center;
    }
   
    